{% extends "layout.html" %}

{% block title %}FoXS FAQ{% endblock %}

{% block body %}
<p>
      This section will contain answers to the
      most common questions received about FoXS. <br />For any
      information, suggestion and question, please feel FREE to email
<script type="text/javascript">escramble("dina","salilab.org")</script>
</p>

<h3>Question 1</h3>

<p><b>I get an error message about my input from the server. What is wrong with my input?</b></p>

<p><b><font color="#000099">Answer:</font></b></p>
<p>Possible Input Errors:</p>
<ul> 

<li> PDB code: make sure you enter valid PDB code,
i.e. the molecule with this code exists in <a href=
"http://www.rcsb.org/pdb/">PDB</a>.</li>


<li> Chain ID: make sure that the chains
you specified exist in the PDB file.</li>


<li> Uploaded file: should be in PDB format only!  

<p><font color="red" size="+1">IMPORTANT! </font> please use standard PDB atom naming in the files you upload!</p>

</li>

</ul>

<h3>Question 2</h3>

<p><b> I compare crystal structure to the experimental SAXS profile, however the fit between the theoretical profile and the experimental one is not good. What can be wrong? </b></p>

<p><b><font color="#000099">Answer:</font></b></p>

<p>There can be several reasons for a bad fit:</p>
<ul>

<li> Missing residues/atoms in PDB file compared to the sample the
data was collected with can contribute to a bad fit. SAXS profile is
equivalent to electron distance distribution, so missing atoms
contribute to distances that are not accounted for in a theoretical
profile. It is recommended to add all the missing loops, linkers,
N-/C-termini, His tags, metal ions. The content of the structure
should be as close as possible to the content of the sample used to
collect the SAXS data. It is preferrable to have inaccurate loop
conformation, rather than a missing loop!</li>

<li> Molecules in solution can have a different conformation compared
to crystal structure. Please note that X-ray and SAXS data collection
are performed under different condition, which may result in different
conformations. This can happen very often with multi domain proteins.</li>

<li> Molecules in solution can have multiple conformations. SAXS
provides information about rotational as well as <b> conformational
</b> average. Since many molecules in solution exist as an ensemble of
various conformations, SAXS profile will be an ensemble averaged
profile.</li>

</ul>

<h3>Question 3</h3>

<p><b> My structure includes non-protein atoms, such as mercury, gold or selenium. Are they accounted for in FoXS? </b></p>

<p><b><font color="#000099">Answer:</font></b></p>

<p>FoXS includes form factors for the following elements:<br />
H, He, Li, Be, B, C, N, O, F, Ne, 
Na, Mg, Al, Si, P, S, Cl, Ar, 
K, Ca, Cr, Mn, Fe, Co, Ni, Cu, Zn, Se, Br, 
I, Ir, Pt, Au, Hg
</p>

<p>If your element is not in this list, please let us know and we will add it.
</p>

<p><font color="red" size="+1">IMPORTANT! </font> please verify that the element name is specified in the element field of PDB format (columns 77-78)</p>

{% endblock %}
