{% extends "saliweb/layout.html" %}

{% block css %}
<link rel="stylesheet" type="text/css" href="{{ url_for("static", filename='css/foxs.css') }}" />
{% endblock %}

{% block header_page_title %}
<table>
  <tbody>
    <tr>
      <td>
      <table><tr><td>
      <img src="{{ url_for("static", filename="img/logo.png") }}" alt="FoXS" align = "left" height = "80" />
      </td></tr>
      <tr><td>
      <h3>Fast SAXS Profile Computation with Debye Formula</h3>
      </td></tr></table>
      </td>
      <td><img src="{{ url_for("static", filename="img/logo2.gif") }}" alt="SAXS profile plot" height = "80" /></td>
    </tr>
  </tbody>
</table>
{% endblock %}

{% block navigation %}
{{ get_navigation_links(
       [(url_for("about"), "About FoXS"),
        (url_for("index"), "Home"),
        (url_for("job"), "Queue"),
        (url_for("help"), "Help"),
        (url_for("faq"), "FAQ"),
        (url_for("download"), "Download"),
        (url_for("links"), "Links")])
}}
{% endblock %}

{% block footer %}
<hr size="2" width="80%" />

<div class="announce">
<b><span class="important">NEW!</span> <a href="https://modbase.compbio.ucsf.edu/multifoxs/"><img src="//modbase.compbio.ucsf.edu/multifoxs/html/logo.png" height='17' alt="MultiFoXXS" />Now with conformational sampling and multi-state modeling, try here</a> </b>
</div>

<hr size="2" width="80%" />
<div id="address">

<p><b>If you use FoXS, please cite:</b></p>
<p>Schneidman-Duhovny D, Hammel M, Tainer JA, and Sali A. Accurate SAXS profile computation and its assessment by contrast variation experiments. Biophysical Journal 2013. 105 (4), 962-974<br />
Schneidman-Duhovny D, Hammel M, Tainer JA, and Sali A. FoXS, FoXSDock and MultiFoXS: Single-state and multi-state structural modeling of proteins and their complexes based on SAXS profiles NAR 2016 [<a href="//doi.org/10.1093/nar/gkw389"> FREE Full Text </a>]</p>

<p>Contact:
<script type="text/javascript">escramble("foxs","salilab.org")</script></p>
</div>
{% endblock %}
