{% extends "layout.html" %}

{% block title %}FoXS Links{% endblock %}

{% block body %}
<ul>

<li><a href="https://bl1231.als.lbl.gov/bilbomd">BILBOMD</a> - BILBOMD allows you to determine the three-dimensional domain structure of proteins based on conformational sampling using a molecular dynamics (MD) approach. Conformational sampling is followed by structure validation using FoXS and MultiFoXS.</li>

<li><a href="https://modbase.compbio.ucsf.edu/allosmod-foxs/">AllosMod-FoXS</a> - Comparative structure modeling followed by SAXS profile calculations for the generated models.</li>

<li><a href="http://www.bioisis.net"> Bioisis</a> - open access SAXS database.</li>

<li><a href="https://www.embl-hamburg.de/biosaxs/software.html"> EMBL SAXS software </a></li>

<li><a href="https://integrativemodeling.org/"> IMP </a> -
Integrative Modeling Platform for comprehensive structural
characterization of biomolecules. FoXS code is found in bin, the source code is in foxs and saxs modules.</li>

<li><a href="https://www.cgl.ucsf.edu/chimera/"> UCSF Chimera </a> - FoXS is
available through Chimera interactive visualization program. See
this <a href="https://www.cgl.ucsf.edu/chimera/docs/ContributedSoftware/saxs/saxs.html">
tutorial</a> on how to use FoXS from Chimera.</li>

</ul>

{% endblock %}
